* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin-top: 10px;
}

.container {
    width: 960px;
    margin: 0 auto;
    border: 2px solid grey;
}

h1 {
    text-align: center;
}

.moviePar {
    margin-left: 10px;
}

form {
    border: 2px solid grey;
    padding: 10px;
    margin: 10px;
}

form input {
    margin: 10px 0;
    display: block;
    padding: 5px;
    width: 100%
}

#drop-down {
    width: 100%
}

#button {
    background-color: rgb(57, 163, 57);
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}

#error {
    height: 20px;
    padding-top: 4px;
    color: red;
}

#printing {
    padding: 5px;
    border: 1px soli rgb(87, 80, 80);
    background-color: rgb(10, 198, 204);
    color: rgb(87, 80, 80);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}

#printing p {
    margin-left: 30px;
}

#total-length {
    text-align: right;
}